<!DOCTYPE html>
<html>
<head>
  <title>Main Page</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Hello, <%= username %>!</h1>
    <a href="/new-room" class="btn btn-primary">Create Room</a>
    <a href="/book-room" class="btn btn-primary">Book Room</a>
    <a href="/view-room" class="btn btn-primary">View Availability</a>

  </div>

  <!-- Include Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
